<div class="lista-composiciones">
    {% for obra in composiciones %}
        <a href="{{ url_for('ver_composicion', comp_id=obra.id, context=page_context, tag_name=tag_nombre, search=search_query) }}" class="tarjeta-obra">
            <div class="info-tarjeta">
                <div class="song-title-with-number">
                    <span class="song-number">{{ loop.index }}.</span>
                    <h3>{{ obra.titulo }}</h3>
                </div>
                <p>{{ obra.musica }}</p>
            </div>
            <div class="categoria-tags-container">
                {% if obra.categorias %}
                    {% for cat in obra.categorias | sort_categories_for_page(page_context) %}
                        <span class="categoria-tag">{{ cat }}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </a>
    {% else %}
        <p style="padding: 20px;">No se encontraron canciones que coincidan con tu búsqueda.</p>
    {% endfor %}
</div>