{% extends "base.html" %}

{% block content %}
    {# Extraemos la sub-etiqueta si el tag es jerárquico #}
    {% set display_title = tag_nombre.split(':')[-1] | trim %}

    <h2>{{ display_title }}</h2>
    
    {% include '_filters.html' %}

    <div class="lista-scroll" id="song-list-container">
        {% include '_song_list.html' %}
    </div>
    
    {# Añadimos un botón de "Volver a Listas" para una mejor navegación #}
    <div style="text-align: center; margin-top: 20px;">
        <a href="{{ url_for('ver_listas') }}" class="btn-volver">← Volver a todas las Listas</a>
    </div>
{% endblock %}