{% extends "base.html" %}

{% block content %}
    <h2>Lista: {{ tag_nombre }}</h2>
    <a href="{{ url_for('index') }}" class="btn-volver" style="margin-bottom: 2rem;">&larr; Volver al Catálogo Principal</a>

    <div class="lista-scroll" style="height: 60vh;">
        <div class="lista-composiciones">
            {% for obra in obras %}
                <a href="{{ url_for('ver_composicion', comp_id=obra.id) }}" class="tarjeta-obra">
                    <div class="info-tarjeta">
                        <h3>{{ obra.titulo }}</h3>
                        <p>{{ obra.musica }}</p>
                    </div>
                </a>
            {% else %}
                <p>No hay canciones con esta etiqueta.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}