{% extends "base.html" %}

{% block content %}
    <div class="detalle-obra">
        <a href="{{ url_for('index') }}" class="btn-volver">&larr; Volver al Catálogo</a>
        <img src="{{ url_for('static', filename=obra.portada) }}" alt="Portada de {{ obra.titulo }}" class="portada-detalle">
        <h2>{{ obra.titulo }}</h2>
        <h3>Por {{ obra.compositor }} ({{ obra.anio }})</h3>
        
        <p class="descripcion">{{ obra.descripcion }}</p>

        <audio controls class="reproductor">
            <source src="{{ url_for('static', filename=obra.audio) }}" type="audio/mpeg">
            Tu navegador no soporta el elemento de audio.
        </audio>
    </div>
{% endblock %}